/* body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
} */







body {
  width: 390px; height: 844px; left: 0px; top: 0px; position: absolute; background: linear-gradient(350deg, #27D1B3 0%, #3351C5 100%);
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
}

