/* body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
} */







body {
  width: 390px; height: 844px; left: 0px; top: 0px; position: absolute; background: linear-gradient(350deg, #27D1B3 0%, #3351C5 100%);
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
}









/* Here The main Css */

.BaseBackground {
   width: 390px;
   height: 844px;
   position: relative;
   background: white
}


/* Background image container */
.background-image-container {
  width: 390px;
   height: 844px; 
   left: 0px; 
   top: 0px; 
  position: absolute;
}

.background-image{
  width: 390px; 
  height: 844px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

#Register-Background{
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  left: 44px; 
  top: 192px; 
  position: absolute; 
  background: white; 
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15); 
  border-radius: 5px; 
  overflow: hidden; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  display: inline-flex
}

.Register-Text{
  color: #1C96F9;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.Register-Boxes{
  border-radius: 10px; 
  overflow: hidden; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  display: flex
}

.Register-Forms_Frame{
  height: 63px; 
  position: relative;
}
.Register-Froms-Text{
  width: 240px; 
  height: 40px; 
  left: 0px; 
  top: 23px; 
  position: absolute; 
  background: #E8E8E8; 
  border-radius: 4px
}
.Register-Froms-input{
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word
}

.Register-Button{
  padding-left: 88px; 
  padding-right: 88px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background: #1C96F9; 
  border-radius: 5px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex
}
.Register-Button-Text{
  color: white; 
  font-size: 16px; 
  font-family: Inter; 
  font-weight: 700; 
  word-wrap: break-word
}

#Google-Button-Base{
  width: 300.36px; 
  height: 46px; 
  left: 45px; 
  top: 673px; 
  position: absolute
}

.Google-Button-Background{
  width: 300.36px; 
  height: 46px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: white; 
  border: 0.87px #C7C6C6 solid
}
.Google-Button-Text{
  width: 204.64px; 
  height: 17.33px; 
  left: 69.36px; 
  top: 12px; 
  position: absolute; 
  color: #020203; 
  font-size: 20px; 
  font-family: Roboto; 
  font-weight: 700; 
  word-wrap: break-word
}
.Google-Button-Icon{
  width: 23.26px; 
  height: 23.73px; 
  left: 11.49px; 
  top: 11.17px; 
  position: absolute
}

#Rfeeq-Logo{
  width: 52px; 
  height: 52px; 
  left: 168px; 
  top: 66px; 
  position: absolute
}
.Rfeeq-Text{
  left: 165px; top: 126px; 
  position: absolute; 
  text-align: center; 
  color: black; 
  font-size: 30px; 
  font-family: Roboto; 
  font-weight: 500; 
  word-wrap: break-word
}